<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/new}" th:object="${user}">
    <label for="firstName">Enter name: </label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name error</div>
    <br>
    <label for="lastName">Enter last name</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name error</div>
    <br>
    <label for="password">Enter password</label>
    <input type="password" th:field="*{password}" id="password">
    <br>
    <label for="age">Enter Age</label>
    <input type="number" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    <br>
    <p>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${allRoles}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </label>
    </p>
    <input type="submit" value="Create">
</form>
<br>
<a href="/logout">logout</a>
</body>
</html>